extends _component/layout/page
block cool-config
-
  var myTitleForGoogle = 'My awesome resume'
  var myDescriptionForGoogle = 'This made using pure HTML5 and CSS3 techniques'
block awsome-content
  h1 Let the fun begin